// todo - work out whether we need a normalizer

*{
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', sans-serif;
}

// todo - use flexbox align-items property instead

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media screen and (min-width: 0em){
	.main-wrapper{
		background-color: #f9f9f9;
	}
	nav{

		// todo - fix this mess, refactor into mixin

		background: rgba(250,250,250,1);
		background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 28%, rgba(219,219,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(28%, rgba(240,240,240,1)), color-stop(100%, rgba(219,219,219,1)));
		background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 28%, rgba(219,219,219,1) 100%);
		background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 28%, rgba(219,219,219,1) 100%);
		background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 28%, rgba(219,219,219,1) 100%);
		background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 28%, rgba(219,219,219,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#dbdbdb', GradientType=0 );

		// todo - refactor into mixin

		-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);

		color: #6F6C6A;
		display: flex;
		justify-content: space-between;
		padding: 6px;
    font-size: 1.7em;
    position: relative;
	}


	header{
		background-color: #3c6eb4;
		background-image: url('img/header.png');
		height: 8em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.fedora-logo{
		height: 1.2em;
	}

	img{
		height:inherit;
	}

	.question-text{
	    width: 50%;
	    height: 20%;
	    background: #f5f5f5;
	    font-size: 0.8rem;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    border: none;
	    padding: 10px 10px;
	    font-size: 15px;
	    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.3 );
	    clear: both;
	}

	.question-text:focus {
		background: #fff;
		outline: none;
	}
	
	.button-large{
		width: 25%;
		height: 35%;
		margin: .5em;
		-moz-box-shadow: 0px 3px 2px -2px #666666;
		-webkit-box-shadow: 0px 3px 2px -2px #666666;
		box-shadow: 0px 3px 2px -2px #666666;
		background-color:#42a500;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		border-radius:9px;
		border:3px solid #128c1e;
		display:inline-block;
		color:#ffffff;
		font-size: 1.4em;
		font-style:normal;
		text-align:center;
	}

	.filter{
		height: 3em;
		background-color: #dbdbdb;
		color: #494949;
		// todo - use flex align-items instead
		line-height: 45px;
		.sorter{
			display: flex;
			justify-content: space-around;
			.sort-by{
				font-weight: bold;
			}
		}
	}



	aside{
		display: none;
	}

	article{
		padding: 1em;

		section{
			background-color: #f1f1f1;
			border: solid 0.1em #dbdbdb;
			border-radius: 0.3em;
			padding: 5px;
			margin-top: 1em;
			margin-bottom: 2em;
			display: flex;
			-webkit-box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.8), 0px 10px 0px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.8), 0px 10px 0px 0px rgba(0,0,0,0.3);;
			box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.8), 0px 10px 0px 0px rgba(0,0,0,0.3);;

			.answer-info{
				width: 35px;
				color: #494949;
				font-size: 1.7em;
				font-weight: bold;
				padding-left: 10px;
				padding-right: 15px;
				display: flex;
				align-items: center;
				flex-direction: column;
			}

			.question{
				display: flex;
				flex-direction: column;
				flex: 1;
			}
		}
	}

	footer{
		background-color: gray;
		color: #242424;
		height: 2.5em;
		display: flex;
		font-weight: bold;
		justify-content: space-around;
		line-height: 40px;
		.attributes{
			display: flex;
			justify-content: space-around;
		}
	}
}

@media screen and (min-width: 45em){
	header{
		input[type=button]{
			width: 10%;
			height: 37.5%;
		}
	}

	.filter{
		.filter-wrapper{
			display: flex;
			width: 70%;
			justify-content: flex-end;
			.sorter{
				width: 70%;
			}

		}
	}
	.main-wrapper{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		article{
			display: flex;
			flex-flow: column wrap;
			align-items: flex-end;
			width: 70%;
			section{
				width: 85%;
			}
		}
		aside{
			display: initial;
			width: 30%;
			section{
				padding: 2em 4em;
			}
		}
	}
}

@media screen and (min-width: 70em){
	.filter{
		.filter-wrapper{
			.sorter{
				width: 50%;
			}
		}
	}	
}
