* {
  padding: 0;
  margin: 0; }

@media screen and (min-width: 0em) {
  nav {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 1em; }

  header {
    background-color: blue;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center; }

  .filter {
    height: 3em;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    padding: 1em; }
    .filter .attributes {
      display: flex;
      justify-content: space-around; }

  article {
    background-color: #f9f9f9;
    padding: 1em; }
    article section {
      padding: 1em;
      background-color: #f1f1f1;
      border: solid 0.1em black;
      border-radius: 0.3em;
      height: 4em;
      margin: 1em 0;
      display: flex;
      justify-items: flex-start;
      align-items: center; }
      article section .score {
        width: 2em;
        height: 2em;
        border: solid 0.1em black; }
      article section .question {
        border: solid 0.1em black;
        width: 100%; }

  footer {
    background-color: gray;
    height: 2em; } }
